*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: montserrat;
}
nav{
    background: #2190E1;
    height: 70px;
    width: 100%;
}
label.logo{
    color: white;
    font-size: 30px;
    line-height: 70px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 70px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: capitalize;
}
#form-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #fff;
    border-radius: 5px;
}

#form-header {
    display: flex;
    background-color: #f8f8f8;
}

.tab {
    width: 50%;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.active {
    background-color: #ddd;
}

.form-content {
    display: none;
    padding: 20px;
}

.form-content.active {
    display: block;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.checkbox-container {
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #2190E1;
    color: white;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

